@{
    ViewBag.Title = "About Us";
}


<div class="container body-content">
    <h2>@ViewBag.Title.</h2>
    <div class="container">
        <div class="row home-row">
            <div class="col-md-4">
                <img src="~/Content/Images/ali.jpg" class="img-thumbnail">
                <div style="text-align:center;">
                    <p style="font-weight: bold; ">Ali Adnan Aslam</p>
                    <p>2015-CS-17</p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="~/Content/Images/ramzan.jpg" class="img-thumbnail">
                <div style="text-align:center;">
                    <p style="font-weight: bold; ">Muhammad Ramzan</p>
                    <p>2015-CS-54</p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="~/Content/Images/mursalin.jpg" class="img-thumbnail">
                <div style="text-align:center;">
                    <p style="font-weight: bold; ">Muhammad Mursalin</p>
                    <p>2015-CS-64</p>
                </div>
            </div>
        </div>
    </div>
</div>
